@media only screen and (max-width: 1240px) {

	.row {
		padding-left: 25px;
		padding-right: 25px;
	}

	/*-- Header --*/

	.header_row_1 .header_col:nth-child(2) {
	    width: calc(100% - 415px);
	}

	.header_row_1 .header_col:nth-child(3) {
		padding-top: 9px;
	    width: 280px;
	}

	.p_promo {
	    padding-top: 18px;
	    font-size: 15px;
	    line-height: 18px;
	}

	.tels_list li a {
	    font-size: 20px;
	    line-height: 25px;
	}

	.card_link {
	    margin: 1px 0;
	}

	.callback_link_wrapp {
	    padding-top: 0;
	}

	/*-- /Header --*/

	/*-- Section 6 - Main Page --*/

	.circle_icon_2 {
	    width: 80px;
	    height: 80px;
	}

	.buy_step_thumb p {
	    font-size: 18px;
	    line-height: 23px;
	}

	/*-- /Section 6 - Main Page --*/

	/*-- Section 2 - Card Page --*/

	.slider_1 {
	    padding: 0 30px;
	}

	.slider_1 .slick-prev {
	    left: 0;
	}

	.slider_1 .slick-next {
	    right: 0;
	}

	/*-- /Section 2 - Card Page --*/

}

@media only screen and (max-width: 1124px) {

	/*-- Header --*/

	.main_nav li a {
		padding: 6px 10px;
	    font-size: 13px;
	    line-height: 19px;
	}

	/*-- /Header --*/

	/*-- Section 1 - Main Page --*/

	.h_wrapp h2 {
	    font-size: 30px;
	    line-height: 45px;
	}

	.h_wrapp h2.h2_2 {
	    padding: 2px 0;
	    font-size: 36px;
	    line-height: 50px;
	}

	.promo_slider_controls_wrapp .col:nth-child(1) {
	    padding-left: 10px;
	}

	/*-- /Section 1 - Main Page --*/

	/*-- Section 4 - Main Page --*/

	.center_h_3 h2 {
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 26px;
	    line-height: 29px;
	}

	.center_h_3_2 p {
	    padding: 0;
	    font-size: 16px;
	    line-height: 24px;
	}

	.thumb_2 {
	    width: calc(33.33% - 34px);
	}

	/*-- /Section 4 - Main Page --*/

	/*-- Section 6 - Main Page --*/

	.buy_h {
	    padding: 35px 0;
	}

	.buy_h:before {
	    width: 130px;
	    height: 121px;
	}

	/*-- /Section 6 - Main Page --*/

	/*-- Footer --*/

	.footer_row {
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		padding-top: 20px;
		padding-bottom: 5px;
	}

	.footer_col:nth-child(1) {
	    width: 250px;
	}

	.footer_col:nth-child(2) {
	    width: calc(100% - 250px);
	}

	.footer_col:nth-child(3) {
	    width: 100%;
	}

	.footer_contacts {
	    flex-wrap: wrap;
	    justify-content: space-between;
	    -webkit-justify-content: space-between;
	    align-items: center;
	}

	.footer_contacts .inline_col {
		display: inline-block;
		vertical-align: middle;
		padding: 5px 17px;
	}

	.footer_contacts .inline_col:nth-child(1),
	.footer_contacts .inline_col:nth-child(2) {
		width: 49%;
		text-align: center;
	}

	.footer_contacts .inline_col:nth-child(3) {
		width: 100%;
		text-align: center;
	}

	.seo_ext_wrapp {
	    margin: 0;
	}

	.seo_tex li {
	    padding: 3px 0;
	}

	.soc_links {
	    margin: 0;
	    text-align: center;
	}

	.corp_p {
	    padding-top: 40px;
	}

	/*-- /Footer --*/

}

@media only screen and (max-width: 1024px) {

	h2 {
	    font-size: 35px;
	    line-height: 38px;
	}

	/*-- Section 6 - Main Page --*/

	.buy_step_thumb {
	    width: calc(50% - 20px);
	}

	/*-- /Section 6 - Main Page --*/

	/*-- Section 7 - Main Page --*/

	.contacts_form_sect .left {
	    width: 40%;
	}

	.contacts_form_sect .right {
	    width: 60%;
	}

	/*-- /Section 7 - Main Page --*/

	/*-- Section 1 - Contacts Page --*/

	.contacts_two_cols .col:nth-child(1) {
	    width: 100%;
	    padding: 5px 0;
	}

	.contacts_two_cols .col:nth-child(2) {
	    width: 100%;
	    padding: 5px 0;
	}

	.contacts_article {
	    padding: 5px 0;
	}

	/*-- /Section 1 - Contacts Page --*/

	/*-- Section 1 - Card Page --*/

/*	.card_templ > .left {
	    width: 100%;
	    float: none;
	    padding: 10px 0;
	}

	.card_templ > .right {
	    width: 100%;
	    float: none;
	    padding: 10px 0;
	}

	.card_slider_wrapp > .left {
	    width: 100%;
	    float: none;
	    padding: 10px 0;
	}

	.card_slider_wrapp > .right {
	    width: 100%;
	    float: none;
	    max-width: 600px;
		margin: 0 auto;
	    padding: 10px 0;
	}

	.big_slider {
	    margin: 0;
	}

	.big_slider .slide .img_box {
	    height: 400px;
	}

	.miniature_slider .slide .miniature {
		margin: 0 auto;
	}*/

	/*-- /Section 1 - Card Page --*/

	/*-- Section 2 - Card Page --*/

	.center_h h2:before {
	    width: 4px;
	    height: 100%;
	    top: 0;
	    left: 0;
	}

	/*-- /Section 2 - Card Page --*/

}

@media only screen and (max-width: 900px) {

	h1 {
	    font-family: "Montserrat", "Arial", "Verdana", sans-serif;
	    font-size: 48px;
	    line-height: 70px;
	    color: #ffffff;
	    font-weight: bold;
	}

	/*-- Header --*/

	.header_site {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
	}

	.header_row_1 .header_col {
	    padding-top: 5px;
	    padding-bottom: 5px;
	}

	.p_promo {
	    padding-top: 7px;
	}

	.header_row_1 .header_col:nth-child(1) {
	    width: 100px;
	    padding-top: 2px;
	}

	.header_row_1 .header_col:nth-child(3) {
	    padding-top: 5px;
	    width: calc( 100% - 160px);
	}

	.header_row_1 .header_col:nth-child(2) {
	    display: none;
	}

	.header_col .inline_blocks {
		display: inline-block;
		vertical-align: middle;
		margin: 0 6px;
	}

	.tels_list li a {
	    font-size: 16px;
	    line-height: 17px;
	}

	.resp_btn_col {
	    display: inline-block;
	    vertical-align: top;
	    width: 60px;
	    text-align: right;
	    position: relative;
	    z-index: 12;
	}

	.callback_link_wrapp {
	    display: inline-block;
	    vertical-align: middle;
	    margin: 0 6px;
	}

	.main_nav_wrapp {
		display: none;
		width: 100%;
		height: 100vh;
		overflow-y: auto;
		margin: 0;
		padding-top: 52px;
		padding-bottom: 80px;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 11;
		background: rgba(0, 0, 0, .9);
	}

	.main_nav {
		display: block;
		margin: 0;
		padding: 0 10px;
	}

	.main_nav > li {
		display: block;
		padding: 10px 20px 10px 0;
	}

	.main_nav li a {
	    padding: 6px 10px;
	    font-size: 16px;
	    line-height: 23px;
	}

	.main_nav > li ul {
		display: none;
		width: 100%;
		min-width: 100%;
	    min-height: auto;
	   	margin-top: 8px;
	    position: relative;
	    top: 0;
	    left: 0;
	    opacity: 1;
	}

	.main_nav li:hover ul {
	    display: none;
	}

	.main_nav li > ul li {
		padding: 0;
		text-align: left;
	}

	.main_nav li .circle {
		opacity: 0;
		z-index: -1;
		right: 0 !important;
	}

	.transparent_pill_2 i {
	    position: relative;
	    top: 2px;
	}

	.menu_btn {
	    display: block;
	}

	/*-- /Header --*/

	/*-- Section 1 - Main Page --*/

	.sect_1 {
		padding: 1px 0;
	}

	.slick-dots li {
	    padding: 3px 10px;
	}

	.scroll_btn_wrapp {
	    padding-left: 20px;
	}

	/*-- /Section 1 - Main Page --*/

	/*-- Section 3 - Main Page --*/

	.good_thumb {
	    padding: 0 44px;
	}

	/*-- /Section 3 - Main Page --*/

	/*-- Section 4 - Main Page --*/

	.thumbnails_2 {
	    margin: 40px -10px;
	}

	.thumb_2 {
	    width: calc(50% - 20px);
	    margin: 10px;
	}

	/*-- /Section 4 - Main Page --*/

	/*-- Section 5 - Main Page --*/

	.article_3_text:before {
	    left: 5px;
	}

	.article_3_desc {
	    width: 86%;
	}

	.play_circle {
	    width: 90px;
	    height: 90px;
	    margin-right: 10px;
	}

	.play_btn {
	    font-size: 20px;
	    line-height: 24px;
	}

	/*-- /Section 5 - Main Page --*/

	/*-- Section 8 - Main Page --*/

	.article_4 .col:nth-child(1) {
	    padding: 10px 0 10px 3.5%;
	}

	.article_4 p {
	    font-size: 15px;
	    line-height: 20px;
	}

	/*-- /Section 8 - Main Page --*/

	/*-- Section 1 - News Catalog Page --*/

	.news_thumb {
	    width: calc(50% - 30px);
	}

	/*-- /Section 1 - News Catalog Page --*/

	/*-- Section 1 - News Page --*/

	.article_1 .img_box {
	    width: 100%;
	    height: 320px;
	    margin: 10px 0;
	    float: none;
	}

	.article_1 p {
	    padding-bottom: 20px;
	}

	/*-- /Section 1 - News Page --*/

	/*-- Section 1 - Card Page --*/

	.card_slider_wrapp > .left {
	    width: 100%;
	    float: none;
	    padding: 10px 0;
	}

	.card_slider_wrapp > .right {
	    width: 100%;
	    float: none;
	    max-width: 600px;
		margin: 0 auto;
	    padding: 10px 0;
	}

	.big_slider {
	    margin: 0;
	}

	.big_slider .slide .img_box {
	    height: 400px;
	}

	.miniature_slider .slide .miniature {
		margin: 0 auto;
	}

	.good_descript {
	    padding: 10px 0 0 0;
	}

	.descript_table p {
		font-size: 14px;
		line-height: 22px;
	}

	/*-- /Section 1 - Card Page --*/

	/*-- Section 3 - Card Page --*/

	.tabs_links {
	    margin: 10px 0;
	    padding: 0 10px;
	    display: block;
	    justify-content: none;
	}

	.tab_link {
		margin: 5px 0;
	    padding: 5px 10px;
	}

	.tabs_content .tab {
	    padding: 5px 0;
	}

	/*-- /Section 3 - Card Page --*/

}

@media only screen and (max-width: 800px) {

	/*-- Section 5 - Main Page --*/

	.article_3_text {
	    margin: 15px 0 5px 0;
	    position: relative;
	}

	.article_3 .left {
	    width: 100%;
	    float: none;
	    padding-right: 0;
	}

	.article_3 .right {
	    width: 100%;
	    float: none;
	    padding-top: 30px;
	}

	/*-- /Section 5 - Main Page --*/

}

@media only screen and (max-width: 767px) {

	h1 {
	    font-size: 34px;
	    line-height: 39px;
	}

	h2 {
		font-size: 30px;
		line-height: 34px;
	}

	h3 {
	    font-size: 27px;
	    line-height: 32px;
	}

	h4 {
	    font-size: 20px;
	    line-height: 30px;
	}

	h5 {
	    font-size: 16px;
	    line-height: 25px;
	}

	.row {
		padding-left: 15px;
		padding-right: 15px;
	}

	/*-- Section 1 - Main Page --*/

	.promo_slider .slide .inner {
	    min-height: 330px;
	}

	.h_wrapp {
	    padding-left: 30px;
	}

	.h_wrapp h2 {
	    font-size: 23px;
	    line-height: 37px;
	}

	.h_wrapp h2.h2_2 {
	    padding: 2px 0;
	    font-size: 30px;
	    line-height: 40px;
	}

	.promo_slider_controls_wrapp {
		display: block;
	    margin-top: 0;
	}

	.promo_slider_controls .slick-arrow {
	    top: -3px;
	}

	.promo_slider_controls_wrapp .col:nth-child(1) {
	    width: 100%;
	    padding-right: 0;
	    padding-left: 0;
	    text-align: center;
	}

	.promo_slider_controls_wrapp .col:nth-child(2) {
	    width: 100%;
	    padding-right: 0;
	    padding-left: 0;
	    text-align: center;
	}

	.scroll_btn_wrapp {
	    padding-left: 0;
	    position: absolute;
	   	bottom: 10px;
	    right: 10px;
	}

	/*-- /Section 1 - Main Page --*/

	/*-- Section 4 - Main Page --*/

	.center_h_3_2 {
	    padding-left: 20px;
	}

	/*-- /Section 4 - Main Page --*/

	/*-- Section 7 - Main Page --*/

	.contacts_form_sect {
	    margin-top: 5px;
	}

	.contacts_form_sect .left {
		float: none;
	    width: 100%;
	}

	.contacts_form_sect .right {
	    float: none;
	    width: 100%;
	}

	.contacts_img_box {
		display: none;
	}

	.contact_form {
		float: none;
	    max-width: 100%;
	}

	/*-- /Section 7 - Main Page --*/

	/*-- Section 8 - Main Page --*/

	.article_4 {
		display: block;
		margin: 24px 0 5px 0;
	}

	.article_4 .col:nth-child(1) {
	    width: 100%;
	    order: 1;
	    padding: 10px 0;
	}

	.article_4 .col:nth-child(2) {
	    width: 100%;
	    order: 1;
	    padding: 10px 0;
	}

	.article_4 .col:nth-child(1):before {
		display: none;
	}

	.photo_box {
	    max-width: 320px;
	    margin: 10px auto;
	}

	/*-- /Section 8 - Main Page --*/

	/*-- Section 1 - News Page --*/

	.article_1 h1, .article_1 h2, .article_1 h3, .article_1 h4, .article_1 h5, .article_1 h6 {
		padding-top: 10px;
		padding-bottom: 15px;
	    padding-left: 0;
	}

	.article_1 p {
	    padding-bottom: 10px;
		font-size: 14px;
		line-height: 20px;
	}

	p.italic {
	    padding: 18px 10px 24px 10px;
	    font-size: 17px;
		line-height: 24px;
	}

	.two_cols .col {
	    width: 100%;
	}

	.three_cols .col {
	    width: 50%;
	}

	.two_cols .col:nth-child(odd) {
	    padding-right: 0;
	}

	.two_cols .col:nth-child(even) {
	    padding-left: 0;
	}

	.items_list li {
	    padding-top: 10px;
	    padding-bottom: 10px;
	    padding-left: 20px;
	    font-size: 14px;
	    line-height: 20px;
	}

	.items_list li:before {
	    width: 4px;
	}

	/*-- /Section 1 - News Page --*/

	/*-- Section 1 - Contacts Page --*/

	.inner_page_h:before {
	    height: 100%;
	    top: 0;
	}

	.map_box {
	    height: 400px;
	}

	#map {
	    height: 430px;
	}

	.popup-bubble {
	    padding: 5px 11px;
	    border-radius: 17px;
	    max-height: 74px;
	    width: 210px;
	    font-size: 12px;
	    line-height: 16px;
	    font-weight: bold;
	}

	.rommb {
	    width: 54px;
	    height: 54px;
	    top: -4px;
	    left: -35px;
	}

	/*-- /Section 1 - Contacts Page --*/

	/*-- Section 1 - Card Page --*/

	.inner_page_h_2 h2:before {
	    width: 4px;
	    height: 40px;
	    top: -5px;
	}

	.inner_page_h_2 h2 {
	    position: relative;
	    padding-left: 30px;
	    font-size: 16px;
	    line-height: 20px;
	}

	.card_templ > .left {
	    width: 100%;
	    float: none;
	    padding: 10px 0;
	}

	.card_templ > .right {
	    width: 100%;
	    float: none;
	    padding: 10px 0;
	}

	.descript_table {
	    margin-bottom: 0;
	}

	/*-- /Section 1 - Card Page --*/

	/*-- Section 4 - Card Page --*/

	.article_2 {
	    margin: 30px 0;
	}

	.article_ttile {
	    margin: 10px 0;
	    padding-left: 20px;
	}

	.article_ttile:before {
	    width: 4px;
	    top: 0;
	    height: 100%;
	}

	.article_ttile h3 {
	    font-size: 20px;
	    line-height: 25px;
	}

	.article_content {
	    padding-left: 20px;
	    padding-right: 20px;
	}

	/*-- /Section 4 - Card Page --*/

	/*-- Footer --*/

	.footer_col:nth-child(1) {
	    width: 100%;
	    text-align: center;
	}

	.footer_col:nth-child(2) {
	    width: 100%;
	    padding-top: 20px;
	}

	.footer_contacts .inline_col:nth-child(1),
	.footer_contacts .inline_col:nth-child(2) {
		width: 100%;
	}

	.corp_p {
	    padding-top: 0;
	}

	.seo_ext_wrapp .seo_tex {
	    width: 100%;
	    text-align: center;
	}

	/*-- /Footer --*/

}

@media only screen and (max-width: 700px) {

	/*-- Section 2 - Main Page --*/

	.advantages_thumbnails {
	    display: block;
	    justify-content: none;
	    margin-bottom: 25px;
	}

	.advantage_thumb {
	    width: 100%;
	}

	/*-- /Section 2 - Main Page --*/

	/*-- Section 6 - Main Page --*/

	.buy_step_thumb {
	    width: 100%;
	}

	.buy_step_thumb {
	    margin: 10px 0;
	}

	/*-- /Section 6 - Main Page --*/

	/*-- Section 1 - Contacts Page --*/

	.contacts_thumbs {
	    margin: 0 0 10px 0;
	}

	.contact_thumb {
	    width: 100%;
	    margin: 15px 0;
	}

	/*-- /Section 1 - Contacts Page --*/

	/*-- Section 2 - Card Page --*/

	.slider_1 {
	    padding: 0;
	}

	.slider_1 .slick-arrow {
	    top: 100%;
	    margin-top: 0;
	}

	/*-- /Section 2 - Card Page --*/

}

@media only screen and (max-width: 600px) {

	h1 {
	    font-size: 24px;
	    line-height: 29px;
	}

	h2 {
		font-size: 20px;
		line-height: 25px;
	}

	h3 {
	    font-size: 17px;
	    line-height: 23px;
	}

	h4 {
	    font-size: 16px;
	    line-height: 22px;
	}

	h5 {
	    font-size: 14px;
	    line-height: 20px;
	}

	p {
	    font-size: 14px;
	    line-height: 16px;
	}

	li {
	    font-size: 14px;
	    line-height: 16px;
	}

	a {
	    font-size: 14px;
	    line-height: 16px;
	}

	.center_h_3 h2:before {
	    width: 4px;	    
	}

	.inner_page_h {
	    padding-left: 30px;
	}

	.inner_page_h:before {
	    width: 4px;
	    height: 100%;
	    top: 0;
	}

	/*-- Header --*/

	.header_col .inline_blocks .inline:nth-child(1) {
		display: none;
	}

	/*-- /Header --*/

	/*-- Section 1 - Main Page --*/

	.h_wrapp h2 {
	    font-size: 20px;
	    line-height: 31px;
	}

	.h_wrapp h2.h2_2 {
	    padding: 0;
	    font-size: 25px;
	    line-height: 35px;
	}

	.h_wrapp:before {
	    width: 4px;
	    height: 100%;
	    top: 0;
	}

	/*-- /Section 1 - Main Page --*/

	/*-- Section 2 - Main Page --*/

	.advantages_thumbnails {
	    margin-bottom: 20px;
	}

	/*-- /Section 2 - Main Page --*/

	/*-- Section 4 - Main Page --*/

	.center_h_3_2:before {
	    width: 4px;
	}

	.center_h_3 h2 {
	    font-size: 22px;
	    line-height: 28px;
	}

	.thumbnails_2 {
	    margin: 20px 0;
	}

	.thumb_2 {
	    width: 100%;
	    margin: 10px 0;
	}

	/*-- /Section 4 - Main Page --*/

	/*-- Section 5 - Main Page --*/

	.center_h_3 h2 {
	    padding-left: 30px;
	}

	.article_3_text:before {
	    left: 2px;
	}

	/*-- /Section 5 - Main Page --*/

	/*-- Section 1 - News Catalog Page --*/

	.news_thumbs {
	    margin: 25px 0;
	}

	.news_thumb {
	    width: 100%;
	    margin: 15px 0;
	}

	/*-- /Section 1 - News Catalog Page --*/

	.center_h_3_2:before {
	    width: 4px;
	}

	/*-- Section 1 - News Page --*/

	.two_cols .col {
		padding-top: 2px;
		padding-bottom: 2px;
	}

	.three_cols {
	    margin: 0;
	}

	.three_cols .col {
	    width: 100%;
		padding-top: 2px;
		padding-bottom: 2px;
		padding-left: 0;
		padding-right: 0;
	}

	/*-- /Section 1 - News Page --*/

	/*-- Section 3 - Card Page --*/

	.tab p {
	    padding-bottom: 20px;
	    font-size: 14px;
	    line-height: 16px;
	}

	/*-- /Section 3 - Card Page --*/

}


@media only screen and (max-width: 480px) {

	.breadcrumbs li a {
	    font-size: 14px;
	    line-height: 17px;
	}

	/*-- Header --*/

	.header_row_1 .header_col:nth-child(1) {
	    width: 80px;
	}

	.header_row_1 .header_col:nth-child(3) {
	    width: calc( 100% - 130px);
	}

	.header_col .inline_blocks {
	    vertical-align: top;
	}

	.callback_link_wrapp {
		height: 40px;
	    vertical-align: top;
	}

	.resp_btn_col {
	    width: 50px;
	}

	.card_link {
	    width: 40px;
	    height: 40px;
	}

	.callback_link {
	    font-size: 0;
	    line-height: 0;
	}

	.callback_link .circle_icon {
	    display: block;
	    width: 40px;
	    height: 40px;
	    border: 2px solid #FAB702;
	}

	.respmenubtn {
		top: 8px;
	}

	.main_nav li a {
	    padding: 6px 10px;
	    font-size: 15px;
	    line-height: 22px;
	}

	.transparent_pill_2 i {
	    margin-right: 10px;
	}

	/*-- /Header --*/

	/*-- Section 3 - Main Page --*/

	.slider_2_wrapp {
	    margin-top: 5px;
	    margin-bottom: 25px;
	}

	.slider_2 .slick-arrow {
	    top: 100%;
	    margin-top: -32px;
	}

	/*-- /Section 3 - Main Page --*/

	/*-- Section 5 - Main Page --*/

	.show_video {
	    height: 300px;
	}

	.show_video:before {
	    width: calc(100% - 20px);
	    height: calc(100% - 20px);
	    top: 10px;
	    left: 10px;
	}

	.play_btn {
	    font-size: 15px;
	    line-height: 21px;
	}

	/*-- /Section 5 - Main Page --*/

	/*-- Section 7 - Main Page --*/

	.contact_form {
	    padding: 20px 20px 1px 20px;
	}

	.contact_form h3 {
	    font-size: 19px;
	    line-height: 25px;
	}

	/*-- /Section 7 - Main Page --*/

	/*-- Section 1 - News Catalog Page --*/

	.pagination li a {
	    min-width: 24px;
	    font-size: 14px;
	    line-height: 32px;
	}

	.pagination li i {
	    top: 9px;
	}

	.pagination li a.last {
	    margin: 0;
	}

	/*-- /Section 1 - News Catalog Page --*/

	/*-- Section 1 - Contacts Page --*/

	.contact_thumb .descript h3 {
	    padding-bottom: 10px;
	}

	.contact_thumb .descript a {
	    font-size: 15px;
	    line-height: 17px;
	}

	.contact_thumb .descript p {
	    font-size: 15px;
	    line-height: 17px;
	}

	/*-- /Section 1 - Contacts Page --*/

	/*-- Section 1 - Card Page --*/

	.descript_table {
		display: block;
	}

	.descript_table .table_row {
		display: block;
		padding: 5px 0;
	}

	.descript_table .table_row .table_cell {
		display: block;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.descript_table .table_row .table_cell:nth-child(1) {
	    width: 100%;
	    padding-right: 0;
	}

	.descript_table .table_row .table_cell:nth-child(2) {
	    width: 100%;
	    padding-left: 0;
	}

	/*-- /Section 1 - Card Page --*/

	/*-- Section 2 - Card Page --*/

	.good_thumb {
	    padding: 0 10px;
	}

	/*-- /Section 2 - Card Page --*/

	/*-- Section 3 - Card Page --*/

	.tab_link {
		margin: 5px 0;
		padding: 5px 10px;
		font-size: 14px;
		line-height: 17px;
	}

	/*-- /Section 3 - Card Page --*/

}

@media only screen and (min-width: 901px) {

	/*-- Header --*/

	.sub_menu {
		display: block !important;
	}

	.main_nav_wrapp {
		display: block !important;
	}

	/*-- /Header --*/

}
